* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
.s,
.s-bold,
.xs,
.xs-bold,
.link,
.link-bold,
.xs-link {
  font-family: "Inter", sans-serif;
  letter-spacing: -0.02em;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 57.6px;
}
@media screen and (min-width: 1440px) {
  h1 {
    font-size: 64px;
    line-height: 76.8px;
  }
}

h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
}

h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 38.4px;
}

h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28.8px;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-size: 24px;
  font-weight: 800;
  line-height: 28.8px;
}
@media screen and (min-width: 1440px) {
  .bolder {
    font-size: 32px;
    line-height: 38.4px;
  }
}

.s {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
}

.s-bold {
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
}

.xs {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
}

.xs-bold {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.8px;
}

.link {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  text-decoration: underline;
}

.link-bold {
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
  text-decoration: underline;
}

.xs-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  text-decoration: underline;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #165963;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  width: 100%;
  height: auto;
  display: flex;
}

.compte {
  width: 100px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.separation {
  width: 100%;
  height: 20px;
  background-color: #45A7AF;
}

.container1 {
  background-color: #073C45;
  color: white;
  padding: 20px;
}

.profil {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profil img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.contenu1 {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  padding-bottom: 40px;
}

.texte {
  padding: 10px;
}

.paragraphe-1,
.titre-1 {
  padding: 10px;
}

.image-presentation-mobile {
  width: 300px;
  height: auto;
  border: solid white 5px;
  border-radius: 8px;
  margin: 30px;
}

@media screen and (min-width: 768px) {
  .image-presentation-mobile {
    display: none;
  }
}
.image-presentation-desktop {
  width: 600px;
  height: auto;
  border: solid white 5px;
  border-radius: 20px;
  overflow: hidden;
  display: none;
}

@media screen and (min-width: 768px) {
  .image-presentation-desktop {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .texte {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}
.container2 {
  background-color: white;
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -25px;
}

.contenu2 {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
}

.texte-2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #165963;
}

.paragraphe-2,
.titre-2 {
  padding: 10px;
}

.button {
  font-weight: bold;
  text-align: center;
  background-color: #FFBD1C;
  border-radius: 20px;
  width: 200px;
  height: 50px;
  border-color: #FFBD1C;
}

.cards {
  background-color: #4ACAD9;
  border-radius: 5%;
  margin-top: 20px;
}

.titre-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-top: 20px;
}

.card1 {
  background-color: white;
  width: 85%;
  margin-top: 30px;
  border-radius: 5%;
}

.card2 {
  background-color: white;
  width: 85%;
  margin-top: 30px;
  border-radius: 5%;
}

.card3 {
  background-color: white;
  width: 85%;
  margin-top: 30px;
  border-radius: 5%;
}/*# sourceMappingURL=styles.css.map */