$width-menu-xl: 1440px;

h1,
h2,
h3,
h4,
p,
.s,
.s-bold,
.xs,
.xs-bold,
.link,
.link-bold,
.xs-link {
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.02em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 57.6px;

  @media screen and (min-width: $width-menu-xl) {
    font-size: 64px;
    line-height: 76.8px;
  }
}

h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
}

h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 38.4px;
}

h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28.8px;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-size: 24px;
  font-weight: 800;
  line-height: 28.8px;

  @media screen and (min-width: $width-menu-xl) {
    font-size: 32px;
    line-height: 38.4px;
  }
}

.s {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
}

.s-bold {
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
}

.xs {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
}

.xs-bold {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.8px;
}

.link {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  text-decoration: underline;
}

.link-bold {
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
  text-decoration: underline;
}

.xs-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  text-decoration: underline;
}

.header{
    width: 100%;
    height: 80px;
    background-color: #165963;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo{
    width: 100%;
    height: auto;
    display: flex;
}

.compte{
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.separation{
  width: 100%;
  height: 20px;
  background-color: #45A7AF;
}

.container1{
  background-color: #073C45;
  color: white;
}

.video{
  width: 300px;
  height: auto;
}