* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$width-menu-xl: 1440px;

h1,
h2,
h3,
h4,
p,
.s,
.s-bold,
.xs,
.xs-bold,
.link,
.link-bold,
.xs-link {
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.02em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 57.6px;

  @media screen and (min-width: $width-menu-xl) {
    font-size: 64px;
    line-height: 76.8px;
  }
}

h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
}

h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 38.4px;
}

h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28.8px;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-size: 24px;
  font-weight: 800;
  line-height: 28.8px;

  @media screen and (min-width: $width-menu-xl) {
    font-size: 32px;
    line-height: 38.4px;
  }
}

.s {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
}

.s-bold {
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
}

.xs {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
}

.xs-bold {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.8px;
}

.link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  text-decoration: underline;
}

.link-bold {
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
  text-decoration: underline;
}

.xs-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  text-decoration: underline;
}

.header{
    width: 100%;
    height: 80px;
    background-color: #165963;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo{
    width: 100%;
    height: auto;
    display: flex;
}

.compte{
    width: 130px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

.separation{
  width: 100%;
  height: 8px;
  background-color: #45A7AF;
}


.cloche{
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.image-cloche{
  width: 20px;
  height: 24px;
  object-fit: cover;
  display: block;
}

.profil{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.profil img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.fleche{
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.image-fleche{
  width: 15px;
  height: 15px;
  object-fit: cover;
  display: block;
}

.container1{
  background-color: #073C45;
  color: #D0FEFA;
  padding: 20px;
}

.contenu1{
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  padding-bottom: 40px;
}

.texte{
  padding: 10px;
}

.paragraphe-1,
.titre-1{
  padding: 10px;
    }


.image-presentation-mobile{
  width: 300px;
  height: auto;
  border: solid #D0FEFA 5px;
  border-radius: 8px;
  margin: 30px;
}
    @media screen and (min-width: 768px) {
  .image-presentation-mobile{
    display: none;
  }
}

.image-presentation-desktop{
  width: 600px;
  height: auto;
  border: solid #D0FEFA 5px;
  border-radius: 20px;
  overflow: hidden;
  display: none;
  
}
  
  @media screen and (min-width: 768px) {
  .image-presentation-desktop{
    display: flex;
    justify-content: center;
  }
  .paragraphe-1{
    max-width: 500px;
  }
}

  @media screen and (min-width: 768px) {
  .texte{
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

.container2{
  background-color: white;
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -25px;
}

.contenu2{
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
}

.texte-2{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #165963;
}

.paragraphe-2,
.titre-2{
  padding: 10px;
    }

  @media screen and (min-width: 768px) {
    .paragraphe-2{
    max-width: 700px;
    }
  }

.button{
  font-weight: bold;
  text-align: center;
  background-color: #FFBD1C;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.button:hover{
  background-color: #FFD367;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #4ACAD9;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  bottom: 30px;
}

.titre-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: white;
}

.paragraphe-3 {
  margin-top: 20px;
}

.card1 {
  background-color: white;
  width: 85%;
  margin-top: 30px;
  border-radius: 5%;
}

@media screen and (min-width: 768px) {
  .card-presentation-desktop{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.card2 {
  background-color: white;
  width: 85%;
  margin-top: 30px;
  border-radius: 5%;
}

.card3 {
  background-color: white;
  width: 85%;
  margin-top: 30px;
  border-radius: 5%;
}

.footer{
  width: 100%;
  height: 120px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #D0FEFA;
  background-color: #165963;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}